.product-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.product-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1000;
}

.product-form h2 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group label {
  flex-basis: 30%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group textarea {
  flex-basis: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.form-actions button[type="submit"] {
  background-color: #007bff;
  color: #fff;
}

.form-actions button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-actions button[type="button"] {
  background-color: #ccc;
  color: #333;
}

.form-actions button[type="button"]:hover {
  background-color: #999;
}

button {
  margin-left: 15px;
}
